# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# Operating system-related
.DS_Store
Thumbs.db

# Ryu-specific
*.pid
*.log

# Project-specific
*.pcap
*.json
*.yaml
*.yml
!config.yaml

# Temporary files
*.tmp
*.bak

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
